<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <li><%= restaurant.address %></li>
    <li><%= restaurant.phone %></li>
    <li><%= restaurant.category %></li>

    <%= link_to "Write a Review", new_restaurant_review_path(restaurant) %>
    <%= link_to "Edit", edit_restaurant_path(restaurant) %>
    <%= link_to "Destroy", restaurant_path(restaurant), method: :delete, data: {confirm:"Are you sure you want to delete it?"}%>

  <% end %>
</ul>
<%= link_to "New", new_restaurant_path %>
