
  <%= link_to "Home", root_path(@review.restaurant) %>
  <h3>Review</h3>
  <%= @review.content %>

  <%= link_to "Edit", edit_review_path(@review) %>
  <%= link_to "Destroy", review_path(@review), method: :delete, data: {confirm:"Are you sure you want to delete it?"}%>

  <%= @review.restaurant.name %>
